.as_title {
    vertical-align: center;
    vertical-align: center;
    text-align: center;
}
.md-card {
    max-width: 420px;
    min-width: 300px;
    margin: 4px;
    /*display: flex;*/
    /*align-self: center;*/
    /*vertical-align: top;*/
}
.card-holder {
    /*max-width: 420px;*/
    /*min-width: 300px;*/
    /*margin: 4px;*/
}
.card-expansion {
	display: flex;
	align-items: center;
}